<li class="media mb-3">
  <img [src]="customer.avatar" class="img-fluid w-5 mr-3" alt="user avatar">
  <div class="media-body align-self-center d-flex flex-row justify-content-between">
    <div>
      <h5 class="mt-0 mb-1">{{ customer.name }}</h5>
      <p>{{ customer.comment }}</p>
    </div>
    <!-- Following the rating (number of stars) user sends, the following divs
          will be displayed respectively to that number   -->
    <div [ngSwitch]="customer.rating">
      <div *ngSwitchCase="5" class="ml-3 align-self-center divStars">
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
      </div>
      <div *ngSwitchCase="4" class="ml-3 align-self-center divStars">
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
      </div>
      <div *ngSwitchCase="3" class="ml-3 align-self-center divStars">
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
      </div>
      <div *ngSwitchCase="2" class="ml-3 align-self-center divStars">
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
      </div>
      <div *ngSwitchCase="1" class="ml-3 align-self-center divStars">
        <fa-icon [icon]="['fas', 'star']" class="fStarSolid"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
        <fa-icon [icon]="['far', 'star']" class="fStarRegular"></fa-icon>
      </div>
    </div>
  </div>
</li>
