<div class="tab-pane fade show active" role="tabpanel" aria-labelledby="Requirements-tab">
  <ul class="list-group slide-fade">
    <li class="list-group-item d-flex justify-content-between align-items-center show">
      Demonstrates the usage of ngOnChanges, @Ouput() and @Input()<span class="badge badge-primary badge-pill">1</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center show">
      Lazy load modules<span class="badge badge-primary badge-pill">2</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center show">
      Demonstrates the usages of route guards<span class="badge badge-primary badge-pill">3</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Passes data between pages. Have an input field in one page of which contents is displayed in the second page. <span class="badge badge-primary badge-pill">4</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Has page transition animations. Here please make 2 examples, one with angular- animations and one that uses just css classes with animations for things like fading in an element.<span class="badge badge-primary badge-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Has one route that demonstrates how nested <code>&lt;router-outlet&gt;</code> works.<span class="badge badge-primary badge-pill">7</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Have 2 inputs with some simple validation (like an email validation) without the require of angular-forms and ngModel<span class="badge badge-primary badge-pill">8</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Demonstrates the usage of ng-content.<span class="badge badge-primary badge-pill">9</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Have an input directive that restricts the input to numbers only and auto formats the input into currency, ex: $1,234. The field must change its format as user types.<span class="badge badge-primary badge-pill">10</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Demonstrates various ways to bind component properties to an associated template.<span class="badge badge-primary badge-pill">10</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Has unit tests.<span class="badge badge-primary badge-pill">10</span>
    </li>
  </ul>
</div>
