<header>
  <div>&nbsp;</div>
  <nav>
    <div class="headDivChild11" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/"><span>Home</span></a>
    </div>
    <div class="headDivChild12" routerLinkActive="activeLink">
      <a routerLink="/readme"><span>Read Me</span></a>
    </div>
    <div class="headDivChild13" routerLinkActive="activeLink">
      <a routerLink="/feedback"><span>Feedback</span></a>
    </div>
  </nav>
</header>

<div class="content" [@routerAnimation]="getRouteAnimation(router)">
  <router-outlet #router="outlet"></router-outlet>
</div>
