<main>
  <section *ngIf="getAuthService().getCompanyEmailStatus()">
    <article>
      <h1>About this project</h1>
      <p>
        Here below are all information needed for the completion of this assignment.
      </p>
    </article>
    <article>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/readme', 'requirements']" routerLinkActive="active" id="Requirements-tab" data-toggle="tab" role="tab" aria-controls="Requirements" aria-selected="true">Requirements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/readme', 'download']" routerLinkActive="active" id="Download-tab" data-toggle="tab" role="tab" aria-controls="Download" aria-selected="false">Download</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <router-outlet></router-outlet>
      </div>
    </article>
  </section>
  <section *ngIf="!getAuthService().getCompanyEmailStatus()">
    <h1>Authentication</h1>
    <p>
      You must provide your company email to access the content of this page.
    </p>
    <form (submit)="onSubmit($event)">
      <div class="mb-3 w-100 w-md-75 w-lg-50">
        <div class="input-group">
          <label for="email" class="font-weight-bold mt-1">Email : </label>
          <input type="email" id="email" class="form-control ml-2" placeholder="Enter your email address"
                 [value]="email" (input)="checkForEmailError($event)"
                 (blur)="checkForEmailError($event)" aria-label="email" aria-describedby="basic-addon-email">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-email">
              <fa-icon [icon]="['fas', 'at']"></fa-icon>
            </span>
          </div>
        </div>
        <div *ngIf="errorMessages.emailError.state" class="text-danger ml-6 mt-1">
          {{ errorMessages.emailError.message }}
        </div>
      </div>
      <button type="submit" [disabled]="invalidForm" [className]="classBtnSubmit">Verify Email</button>
    </form>
  </section>
</main>
